@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCRc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc9.ttf) format('truetype');
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: #fff;
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.main-nav {
  position: relative;
}
.main-nav__toggle {
  position: relative;
  width: 21px;
  height: 21px;
  padding: 0;
  border: 0;
  background-color: transparent;
  margin-left: auto;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.main-nav--closed .main-nav__toggle:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20px;
  height: 3px;
  background-color: #46A6E4;
  -webkit-box-shadow: 0 6px 0 0 #46A6E4, 0 12px 0 0 #46A6E4;
          box-shadow: 0 6px 0 0 #46A6E4, 0 12px 0 0 #46A6E4;
}
.main-nav--closed .main-nav__toggle::after {
  content: none;
}
.main-nav__toggle::before,
.main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 3px;
  background-color: #46A6E4;
}
.main-nav__toggle::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.main-nav__toggle::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.main-nav__mob {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16);
}
.main-nav__logo {
  margin-right: 15px ;
  width: 70px;
}
.main-nav__tel a {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
}
.main-nav__address {
  margin-top: 7px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding-left: 18px;
  position: relative;
}
.main-nav__address:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 14px;
  background-image: url(../img/location.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}
.main-nav__menu {
  padding: 10px;
  position: fixed;
  overflow-y: scroll !important;
  background-color: #fff;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
}
.main-nav__menu-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-nav__menu-lk a,
.main-nav__menu-connect a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #46A6E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  text-decoration: none;
  width: 140px;
  height: 35px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
