@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCRc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc9.ttf) format('truetype');
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: #fff;
  color: #000000;
}
body.hidden {
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  max-width: 1265px;
}
.mob-container {
  max-width: 1265px;
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1025px) {
  .mob-container {
    padding: 0;
  }
}
header {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16);
}
.main-nav {
  background-color: #fff;
}
@media (min-width: 1025px) {
  .main-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 84px;
    padding: 0 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.main-nav__container {
  min-width: 320px;
  max-width: 1375px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-nav--closed .main-nav__menu {
  display: none;
}
@media (min-width: 1025px) {
  .main-nav--closed .main-nav__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.main-nav__toggle {
  position: relative;
  width: 21px;
  height: 21px;
  padding: 0;
  border: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
@media (min-width: 1025px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20px;
  height: 3px;
  background-color: #46A6E4;
  -webkit-box-shadow: 0 6px 0 0 #46A6E4, 0 12px 0 0 #46A6E4;
          box-shadow: 0 6px 0 0 #46A6E4, 0 12px 0 0 #46A6E4;
}
.main-nav--closed .main-nav__toggle::after {
  content: none;
}
.main-nav__toggle::before,
.main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 3px;
  background-color: #46A6E4;
}
.main-nav__toggle::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.main-nav__toggle::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.main-nav__mob {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16);
}
@media (min-width: 1025px) {
  .main-nav__mob {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0px;
  }
}
.main-nav__logo {
  margin-right: 15px ;
  width: 70px;
}
@media (min-width: 1025px) {
  .main-nav__logo {
    margin-right: 0px ;
    width: 140px;
  }
}
.main-nav__tel a {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .main-nav__tel a {
    font-size: 20px;
    line-height: 23px;
  }
}
.main-nav__address {
  margin-top: 7px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding-left: 18px;
  position: relative;
}
.main-nav__address:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 14px;
  background-image: url(../img/location.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}
.main-nav__contacts {
  margin-left: -64px;
}
@media (min-width: 1025px) {
  .main-nav__contacts {
    margin-left: 10px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  .main-nav__contacts {
    margin-left: 49px;
  }
}
.main-nav__menu {
  position: fixed;
  overflow-y: scroll !important;
  background-color: #fff;
  top: 58px;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (min-width: 1025px) {
  .main-nav__menu {
    position: static;
    overflow: hidden !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  .main-nav__menu {
    overflow: visible !important;
  }
}
.main-nav__menu-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1025px) {
  .main-nav__menu-btns {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1200px) {
  .main-nav__menu-btns {
    margin-left: 10px;
  }
}
.main-nav__menu-lk a,
.main-nav__menu-connect a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #46A6E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  text-decoration: none;
  width: 140px;
  height: 35px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1025px) {
  .main-nav__menu-lk a,
  .main-nav__menu-connect a {
    margin: 0 0 0 10px;
  }
}
@media (min-width: 1200px) {
  .main-nav__menu-lk a,
  .main-nav__menu-connect a {
    font-size: 14px;
    line-height: 14px;
    width: 160px;
    height: 48px;
    margin: 0 0 0 18px;
  }
}
.main-nav__menu-connect a {
  color: #fff;
  background-color: #46A6E4;
}
@media (min-width: 1025px) {
  .site-nav {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.site-nav__list {
  padding: 0;
  list-style: none;
  border-top: 1px solid #46A6E4;
  margin: 10px 0;
}
@media (min-width: 1025px) {
  .site-nav__list {
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
  }
}
.with-submenu {
  position: relative;
}
.with-submenu:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 57px;
  background: url(../img/arrow.svg) no-repeat right 10px center;
  background-size: 16px 19px;
  right: 0;
  top: 0;
}
@media (min-width: 1025px) {
  .with-submenu:after {
    content: none;
  }
}
@media (min-width: 1025px) {
  .with-submenu {
    position: static;
  }
}
.with-submenu.open:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background: url(../img/arrow.svg) no-repeat left 10px center;
  background-size: 16px 19px;
}
.site-nav__list-item a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #46A6E4;
  padding: 20px 50px 20px 25px;
}
.site-nav__list-item a:hover,
.site-nav__list-item a:active,
.site-nav__list-item a:focus {
  color: #46A6E4;
}
@media (min-width: 1025px) {
  .site-nav__list-item a {
    border: none;
    padding: 35px 0;
    font-size: 12px;
    line-height: 14px;
  }
}
@media (min-width: 1312px) {
  .site-nav__list-item a {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (min-width: 1025px) {
  .site-nav__list-item {
    padding: 0px 10px;
  }
}
@media (min-width: 1265px) {
  .site-nav__list-item {
    padding: 0px 17px;
  }
}
.site-nav__submenu {
  display: none;
  padding-left: 0px;
  border-bottom: 1px solid #46A6E4;
}
@media (min-width: 1025px) {
  .site-nav__submenu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 3;
    margin-top: 87px;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    height: 0;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    -webkit-transition-property: height;
    -o-transition-property: height;
    transition-property: height;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}
@media (min-width: 1025px) {
  .with-submenu a:hover ~ .site-nav__submenu {
    height: 235px;
    -webkit-box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.16);
    padding: 37px 0 37px;
    border-top: 1px solid #D6D6D6;
  }
}
@media (min-width: 1025px) {
  .site-nav__submenu:hover {
    height: 235px;
    padding: 37px 0 37px;
    -webkit-box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.16);
    border-top: 1px solid #D6D6D6;
  }
}
.site-nav__submenu .site-nav__submenu-list {
  padding: 0;
}
@media (min-width: 1025px) {
  .site-nav__submenu .site-nav__submenu-list {
    width: 55%;
    border-right: 1px solid #D6D6D6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
  }
}
.site-nav__submenu-item {
  padding: 0;
  list-style: none;
}
@media (min-width: 1025px) {
  .site-nav__submenu-item {
    width: 45%;
    margin-right: 20px;
    font-size: 15px;
    line-height: 18px;
  }
}
@media (min-width: 1265px) {
  .site-nav__submenu-item {
    width: 297px;
    margin-right: 20px;
  }
}
.site-nav__submenu-item a {
  padding: 10px 0 10px 40px ;
  border: none;
  text-transform: none;
  display: inline-block;
}
@media (min-width: 1025px) {
  .site-nav__submenu-item a {
    display: inline-block;
    vertical-align: bottom;
    padding: 0px;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 24px;
  }
}
.site-nav__submenu.open {
  display: block;
}
.site-nav__list-item.active > a,
.site-nav__submenu-item.active a {
  color: #46A6E4;
}
.site-nav__submenu-block {
  display: none;
}
@media (min-width: 1025px) {
  .site-nav__submenu-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 45%;
    padding-left: 78px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
}
.site-nav__submenu-block-title {
  width: 66%;
  margin-right: 40px;
  padding-bottom: 45px;
}
.site-nav__submenu-block-title h3 {
  font-size: 36px;
  line-height: 42px;
  margin: 0;
  padding: 0;
}
.site-nav__submenu-block-title p {
  font-size: 15px;
  line-height: 18px;
  margin: 22px 0;
}
.site-nav__submenu-block .btn {
  position: absolute;
  bottom: 0;
}
a.btn {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  color: #FFFFFF;
  padding: 13px 24px;
  -webkit-box-shadow: 0px 20px 32px rgba(142, 175, 197, 0.3);
          box-shadow: 0px 20px 32px rgba(142, 175, 197, 0.3);
  border-radius: 100px;
}
a.btn:hover {
  color: #fff;
}
.btn.btn--blue {
  background-color: #46A6E4;
}
.big-btn {
  display: inline-block;
  -webkit-box-shadow: 0px 32px 32px rgba(195, 198, 200, 0.3);
          box-shadow: 0px 32px 32px rgba(195, 198, 200, 0.3);
  border-radius: 100px;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  /* identical to box height */
  padding: 23px 33px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  color: #595959;
}
@media (max-width: 1000px) {
  .big-btn {
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */
    padding: 15px;
  }
}
.big-btn.big-btn--blue {
  color: #fff;
  background-color: #46A6E4;
}
.main-slider {
  height: 600px;
  background: #F7F7F7;
  min-width: 320px;
  position: relative;
}
@media (max-width: 1000px) {
  .main-slider {
    height: auto;
  }
}
.main-slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 72px;
  height: 72px;
  font-size: 0;
  line-height: 0;
  z-index: 5;
  cursor: pointer;
  border-radius: 100%;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 32px 32px rgba(142, 175, 197, 0.3);
          box-shadow: 0px 32px 32px rgba(142, 175, 197, 0.3);
}
@media (max-width: 1450px) {
  .main-slider .slick-arrow {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    top: auto;
    bottom: 57px;
  }
}
@media (max-width: 1000px) {
  .main-slider .slick-arrow {
    width: 40px;
    height: 40px;
    bottom: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
}
.main-slider .slick-arrow.slick-next {
  right: 85px;
}
@media (max-width: 1600px) {
  .main-slider .slick-arrow.slick-next {
    right: 20px;
  }
}
@media (max-width: 426px) {
  .main-slider .slick-arrow.slick-next {
    right: 10px;
  }
}
.main-slider .slick-arrow.slick-next:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 26px;
  background-image: url(../img/arrow-next.svg);
}
.main-slider .slick-arrow.slick-prev {
  left: 85px;
}
@media (max-width: 1600px) {
  .main-slider .slick-arrow.slick-prev {
    left: 20px;
  }
}
@media (max-width: 1450px) {
  .main-slider .slick-arrow.slick-prev {
    left: auto;
    right: 115px;
  }
}
@media (max-width: 426px) {
  .main-slider .slick-arrow.slick-prev {
    right: auto;
    left: 10px;
  }
}
.main-slider .slick-arrow.slick-prev:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 26px;
  background-image: url(../img/arrow-prev.svg);
}
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 57px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  max-width: 1265px;
  display: block;
  width: 100%;
  padding: 0 10px;
  margin: 0;
  list-style: none;
  text-align: left;
}
@media (max-width: 1000px) {
  .slick-dots {
    bottom: 20px;
  }
}
@media (max-width: 426px) {
  .slick-dots {
    text-align: center;
  }
}
.slick-dots li {
  position: relative;
  background-color: #C5CCD0;
  display: inline-block;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  margin: 0 17px 0 0;
  padding: 0;
  cursor: pointer;
}
@media (max-width: 426px) {
  .slick-dots li {
    margin: 0 8px ;
  }
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li.slick-active {
  background-color: #46A6E4;
}
.main-slider__slide {
  position: relative;
  height: 600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .main-slider__slide {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
  }
}
.main-slider__img {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(#F6F6F6), color-stop(76.04%, rgba(246, 246, 246, 0.51)), color-stop(97.53%, rgba(246, 246, 246, 0)));
  background: -o-linear-gradient(left, #F6F6F6 0%, rgba(246, 246, 246, 0.51) 76.04%, rgba(246, 246, 246, 0) 97.53%);
  background: linear-gradient(90deg, #F6F6F6 0%, rgba(246, 246, 246, 0.51) 76.04%, rgba(246, 246, 246, 0) 97.53%);
}
@media (max-width: 1000px) {
  .main-slider__img {
    position: static;
    width: 40%;
    margin-left: auto;
  }
}
@media (max-width: 426px) {
  .main-slider__img {
    width: 100%;
  }
}
.main-slider__content {
  width: 50%;
}
@media (max-width: 1000px) {
  .main-slider__content {
    width: 100%;
    padding: 40px 0;
  }
}
@media (max-width: 650px) {
  .main-slider__content {
    padding: 15px 0 45px;
  }
}
@media (max-width: 426px) {
  .main-slider__content {
    padding: 15px 0 65px;
  }
}
.main-slider__content h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  margin: 0 0 40px;
  color: #1B1B1B;
}
@media (max-width: 1000px) {
  .main-slider__content h2 {
    font-size: 30px;
    line-height: 24px;
    position: absolute;
    top: 150px;
    width: 55%;
  }
}
@media (max-width: 650px) {
  .main-slider__content h2 {
    top: 50px;
  }
}
@media (max-width: 426px) {
  .main-slider__content h2 {
    position: static;
    width: 100%;
    margin: 0 0 20px;
  }
}
.main-slider__content p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
  color: #000000;
}
@media (max-width: 1000px) {
  .main-slider__content p {
    font-size: 16px;
    line-height: 19px;
  }
}
.main-sliders__content-btns {
  margin-top: 60px;
  color: #595959;
}
@media (max-width: 1000px) {
  .main-sliders__content-btns {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 426px) {
  .main-sliders__content-btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
.main-sliders__content-btns .big-btn {
  margin-right: 35px;
}
@media (max-width: 426px) {
  .main-sliders__content-btns .big-btn {
    margin-right: 0;
  }
}
.main-title h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}
.main-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-title__all {
  font-size: 16px;
  line-height: 16px;
  color: #060606;
  text-decoration: none;
  padding-right: 17px;
  text-align: right;
  position: relative;
}
.main-title__all:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 6px;
  height: 8px;
  background-image: url(../img/tringle.svg);
  right: 0;
  top: 50%;
  margin-top: -4px;
}
.main-title__all:hover,
.main-title__all:active,
.main-title__all:focus {
  color: #46A6E4;
}
.news {
  background-color: #fff;
}
.news__wrapper {
  padding-top: 55px;
  padding-bottom: 63px;
}
.news__block {
  border-radius: 10px;
  -webkit-box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.1);
  min-height: 260px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.news__block-post {
  padding: 35px 25px 80px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 426px) {
  .news__block-post {
    padding: 20px 10px 65px;
  }
}
.news__block-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #363F49;
}
.news__block-link:hover,
.news__block-link:active,
.news__block-link:focus {
  color: #46A6E4;
}
@media (max-width: 426px) {
  .news__block-link {
    font-size: 14px;
    line-height: 16px;
  }
}
.news__block-data {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  padding: 10px 22px;
  color: #FFFFFF;
  background: #46A6E4;
  border-radius: 100px;
  position: absolute;
  bottom: 36px;
}
@media (max-width: 426px) {
  .news__block-data {
    bottom: 15px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    padding: 8px 22px;
  }
}
.news__prev1 .news__block-data {
  background: rgba(70, 166, 228, 0.3);
  color: #363F49;
}
.news__prev2 .news__block-data {
  background: rgba(70, 166, 228, 0.1);
  color: #363F49;
}
.news__prev1 {
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  width: 25%;
}
@media (max-width: 768px) {
  .news__prev1 {
    width: 50%;
    border-left: 0;
  }
}
.news__prev2 {
  width: 25%;
}
@media (max-width: 768px) {
  .news__prev2 {
    width: 50%;
  }
}
.news__last {
  width: 50%;
}
@media (max-width: 768px) {
  .news__last {
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
  }
}
