@font-face {
  font-family: 'neuropolmedium';
  src: url('../fonts/neuropol_medium-webfont.woff2') format('woff2'), url('../fonts/neuropol_medium-webfont.woff') format('woff'), url('../fonts/neuropol_medium-webfont.ttf') format('truetype'), url('../fonts/neuropol_medium-webfont.svg#neuropolmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/PFBeauSansPro-Bbook.eot') format('opentype'), url('../fonts/PFBeauSansPro-Bbook.woff') format('woff'), url('../fonts/PFBeauSansPro-Bbook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: PF BeauSans Pro;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
  color: #000;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
.main-title {
  margin: 0;
  padding: 68px 0 48px 0;
  font-family: PF BeauSans Pro;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 426px) {
  .main-title {
    font-size: 22px;
    line-height: 130%;
  }
}
.hidden {
  display: none!important;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
}
.container-1500 {
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
}
@media (max-width: 426px) {
  .container,
  .container-1500 {
    padding: 0 10px;
  }
}
.content {
  min-width: 320px;
}
.main-block {
  width: 100%;
  height: auto;
}
.main-block img {
  display: block;
}
.headliners {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-13.75%, #BA95E2), color-stop(145%, rgba(255, 255, 255, 0))), #57A2D8;
  background: -webkit-linear-gradient(bottom, #BA95E2 -13.75%, rgba(255, 255, 255, 0) 145%), #57A2D8;
  background: -o-linear-gradient(bottom, #BA95E2 -13.75%, rgba(255, 255, 255, 0) 145%), #57A2D8;
  background: linear-gradient(360deg, #BA95E2 -13.75%, rgba(255, 255, 255, 0) 145%), #57A2D8;
  mix-blend-mode: screen;
}
.block {
  background: rgba(255, 255, 255, 0.25);
  background-image: url(../img/back-2.svg);
  padding-bottom: 50px;
}
.headliners__list {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1515px) {
  .headliners__list {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
.headliners__list-item {
  width: 480px;
  vertical-align: top;
}
@media (max-width: 1050px) {
  .headliners__list-item {
    width: 254px;
    vertical-align: top;
  }
}
.headliners__link {
  display: block;
  margin: 0 0 30px;
  text-decoration: none;
}
.headliners__link .img-holder {
  display: block;
  overflow: hidden;
}
.headliners__title {
  max-width: 100%;
  display: block;
  font-family: PF BeauSans Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  background-color: #E8FCFF;
  color: #000000;
  padding: 42px 0;
}
@media (max-width: 1050px) {
  .headliners__title {
    font-size: 18px;
    line-height: 22px;
    padding: 15px 0;
  }
}
.video-block {
  padding-bottom: 85px;
  overflow: hidden;
  background-color: #deecf7;
}
.video-slider {
  height: 586px;
  overflow: hidden;
  opacity: 0;
}
.video-block__item iframe {
  width: 1034px;
  height: 582px;
}
@media (max-width: 1400px) {
  .video-block__item iframe {
    width: 700px;
    height: 400px;
  }
}
@media (max-width: 990px) {
  .video-block__item iframe {
    width: 600px;
    height: 345px;
  }
}
@media (max-width: 800px) {
  .video-block__item iframe {
    width: 500px;
    height: 278px;
  }
}
@media (max-width: 670px) {
  .video-block__item iframe {
    width: 400px;
    height: 228px;
  }
}
@media (max-width: 550px) {
  .video-block__item iframe {
    width: 300px;
    height: 170px;
  }
}
.video-block__item {
  text-align: center;
}
.video-slider .slick-prev,
.video-slider .slick-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 120px;
  height: 120px;
  padding: 0;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.video-slider .slick-next {
  left: 0;
}
.video-slider .slick-prev {
  right: 0;
}
.slick-next:before {
  top: 0;
  left: 0;
  display: block;
  width: 120px;
  height: 120px;
  background-image: url(../img/slide-left.svg);
  -webkit-background-size: contain;
          background-size: contain;
  content: '';
}
.slick-prev:before {
  top: 0;
  left: 0;
  display: block;
  width: 120px;
  height: 120px;
  background-image: url(../img/slide-right.svg);
  -webkit-background-size: contain;
          background-size: contain;
  content: '';
}
.video-slider .slick-prev {
  margin-right: 10px;
}
.video-slider .slick-next {
  margin-left: 10px;
}
@media (max-width: 990px) {
  .video-slider .slick-prev,
  .video-slider .slick-next {
    width: 90px;
    height: 90px;
  }
  .slick-next:before,
  .slick-prev:before {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 800px) {
  .video-slider .slick-prev,
  .video-slider .slick-next {
    width: 60px;
    height: 60px;
  }
  .slick-next:before,
  .slick-prev:before {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 450px) {
  .video-slider .slick-prev,
  .video-slider .slick-next {
    width: 40px;
    height: 40px;
  }
  .slick-next:before,
  .slick-prev:before {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 426px) {
  .video-slider .slick-prev,
  .video-slider .slick-next {
    width: 30px;
    height: 30px;
  }
  .slick-next:before,
  .slick-prev:before {
    width: 30px;
    height: 30px;
  }
  .video-slider .slick-prev {
    margin-right: 5px;
  }
  .video-slider .slick-next {
    margin-left: 5px;
  }
}
.review {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-13.75%, rgba(186, 149, 226, 0.6)), color-stop(145%, rgba(255, 255, 255, 0.6))), rgba(87, 162, 216, 0.6);
  background: -webkit-linear-gradient(top, rgba(186, 149, 226, 0.6) -13.75%, rgba(255, 255, 255, 0.6) 145%), rgba(87, 162, 216, 0.6);
  background: -o-linear-gradient(top, rgba(186, 149, 226, 0.6) -13.75%, rgba(255, 255, 255, 0.6) 145%), rgba(87, 162, 216, 0.6);
  background: linear-gradient(180deg, rgba(186, 149, 226, 0.6) -13.75%, rgba(255, 255, 255, 0.6) 145%), rgba(87, 162, 216, 0.6);
  position: relative;
  z-index: 1;
  background-image: url(../img/back-2.svg);
}
.review__wrapper {
  position: relative;
  z-index: 2;
}
.review__box {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 65px;
}
.review__box-column {
  width: 414px;
  padding: 0 22px;
  margin: 0 0 42px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.review__block.hidden {
  height: 0px;
}
.review__block {
  margin-bottom: 10px;
  height: auto;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.review__button-wrapper {
  text-align: center;
}
.review__button {
  font-size: 1.1em;
  line-height: 1.1em;
  text-transform: uppercase;
  padding: 20px 20px;
  display: inline-block;
  text-align: center;
  background-color: #fff;
  margin-bottom: 65px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.review__button:hover,
.review__button:active,
.review__button:focus {
  box-shadow: 1px 1px 35px 29px #fbffff;
  -webkit-box-shadow: 1px 1px 35px 29px #fbffff;
  -moz-box-shadow: 1px 1px 35px 29px #fbffff;
}
@media (max-width: 1250px) {
  .review__box {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1250px) {
  .review__box-column {
    margin: 0 8% 10px;
  }
}
@media (max-width: 1200px) {
  .review__box-column {
    margin: 0 5% 10px;
  }
}
@media (max-width: 1030px) {
  .review__box-column {
    margin: 0 1% 10px;
  }
}
@media (max-width: 846px) {
  .review__box-column {
    margin: 0 10px;
  }
}
.faq {
  overflow: hidden;
  padding-bottom: 85px;
  background-color: #deecf7;
}
.faq__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.faq__wrapper-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 ;
}
.faq__question {
  position: relative;
  display: inline-block;
  /* identical to box height */
  margin: 0;
  margin-bottom: 10px;
  padding: 26px 70px 26px 35px;
  font-family: PF BeauSans Pro;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 22px;
  color: #000;
  background-color: #e8fcff;
  cursor: pointer;
}
@media (max-width: 426px) {
  .faq__question {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
  }
}
.faq__question::after {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 40px;
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 4px solid #000;
  border-left: 4px solid #000;
  content: '';
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.faq__question.faq-rotate::after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}
.faq__question:hover::after {
  opacity: 0.8;
}
.faq__answer {
  display: none;
  margin-top: -20px;
  padding: 26px 70px 26px 35px;
  font-family: PF BeauSans Pro;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 22px;
  color: #000;
  background-color: #fff;
}
@media (max-width: 426px) {
  .faq__answer {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
  }
}
@media (max-width: 600px) {
  .faq__answer {
    padding: 26px 26px 26px 35px;
  }
}
.faq-block {
  display: block;
}
.map {
  background-color: #F7F7F7;
}
.buy-ticket {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-13.75%, rgba(186, 149, 226, 0.6)), color-stop(145%, rgba(255, 255, 255, 0.6))), rgba(87, 162, 216, 0.6);
  background: -webkit-linear-gradient(top, rgba(186, 149, 226, 0.6) -13.75%, rgba(255, 255, 255, 0.6) 145%), rgba(87, 162, 216, 0.6);
  background: -o-linear-gradient(top, rgba(186, 149, 226, 0.6) -13.75%, rgba(255, 255, 255, 0.6) 145%), rgba(87, 162, 216, 0.6);
  background: linear-gradient(180deg, rgba(186, 149, 226, 0.6) -13.75%, rgba(255, 255, 255, 0.6) 145%), rgba(87, 162, 216, 0.6);
  background-image: url(../img/back-2.svg);
}
.footer {
  background-color: #2D2D26;
  padding: 53px 0;
}
.footer a {
  display: inline-block;
}
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.footer__block-text {
  font-family: PF BeauSans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  color: #FFFFFF;
}
.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__link {
  margin-left: 35px;
  vertical-align: middle;
}
@media (max-width: 1000px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__block--2 {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 20px;
    width: 100%;
  }
  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__social {
    padding: 0 35px;
  }
}
@media (max-width: 426px) {
  .footer__social-item img {
    width: 32px;
    height: 32px;
  }
  .footer__link_ {
    margin-left: 52px;
  }
  .footer__link:first-child img {
    width: 34px;
    height: 35px;
  }
  .footer__link:last-child img {
    width: 44px;
    height: 35px;
  }
  .footer__block--1 img {
    width: 106px;
    height: 35px;
  }
  .footer__block-text {
    font-family: PF BeauSans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
  }
  .footer {
    padding: 35px 0;
  }
}
/*modal*/
.modal {
  width: 1200px;
  padding: 29px 80px 51px 62px;
  position: absolute;
  background: #fff;
  left: -9999px;
  top: -9999px;
  z-index: 1000;
  background: url(../img/bg-modal.jpg) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
}
.modal .heading-holder {
  color: #9a86ff;
  border-bottom: 1px solid #9a86ff;
  padding: 0 40px 17px 0;
  margin: 0 0 41px;
}
.modal .heading-holder h2 {
  font: 60px/66px 'neuropolmedium', sans-serif;
  margin: 0 0 5px;
  text-align: left;
  color: #9a86ff;
}
.modal .heading-holder .close {
  float: right;
  width: 30px;
  height: 30px;
  margin: 22px -40px 0 0;
  cursor: pointer;
  -webkit-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  text-indent: -999999px;
  overflow: hidden;
  background: url(../img/bg-close.png) 0 0 no-repeat;
}
.modal .close:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.modal .modal-wrap {
  overflow: hidden;
  margin: 0 -27px;
}
.modal .modal-wrap .modal-left,
.modal .modal-wrap .modal-right {
  float: left;
  width: 42.7%;
  padding: 0 27px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.modal .modal-wrap .modal-right {
  width: 57.3%;
}
.modal .modal-wrap .img-holder,
.modal .modal-wrap .video-holder {
  -webkit-border-radius: 8px;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 0 48px;
  border: none;
}
.modal .modal-wrap .img-holder img {
  display: block;
  width: 100%;
  height: auto;
}
.modal .modal-wrap .video-holder iframe {
  width: 100% !important;
}
@media (max-width: 1250px) {
  .modal {
    width: 1000px;
    padding: 24px 40px;
  }
  .modal .heading-holder h2 {
    font-size: 56px;
    line-height: 60px;
    margin: 0;
  }
  .modal .heading-holder .close {
    margin-top: 18px;
  }
}
