.btn{
font-weight: 600;
font-size: 16px;
line-height: 16px;
padding:18px 39px;
color: #FFFFFF;
border-radius: 30px;
display: inline-block;
&:hover{
 color:#fff;
text-decoration: none
}
@media(max-width: 445px){
padding:18px 30px;
}
}
.btn.btn--blue{
	background-color:@main-blue;
	transition:0.5s;

&:hover,
&:focus,
&:active{
// color:#00;0
// background-color:#fff;
box-shadow: 0px 0px 7px 6px rgba(190, 210, 239, .5);
	}
}

.btn.btn--transparent{
text-decoration: underline;
color:@main-blue;
  &:hover{
text-decoration: none;  
  }

}