body
{
    
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
background-color: #fff;
color: #000000;
}
body.hidden{
    overflow:hidden;
}
img{
	max-width:100%;
	height:auto;
	display:block;
}
a{
    text-decoration: none
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
    -webkit-text-fill-color: #000 !important; /* цвет текста */
    color: #000 !important; /* цвет текста */
}
input[type="submit"]{
background: #46A6E4;
box-shadow: 0px 20px 32px rgba(99, 140, 166, 0.3);
border-radius: 100px;
font-weight: 500;
font-size: 15px;
line-height: 15px;
text-align: center;
text-transform: uppercase;
outline:none;
border:none;
color: #FFFFFF;
padding:19px 28px 20px;
cursor:pointer;
}
a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.error{
  color: red !important;
  // margin-top:5px
}