body
{
    

    font-family: 'Lato';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
    background-color: @light-gray;
    color: @black-font;
   display:flex;
   font-weight: 400;
}
img{
	max-width:100%;
	height:auto;
	display:block;
}
a{
    color:@link-color;
    text-decoration: none;
    cursor:pointer;
    border:none;
    outline: none!important;
}
a:hover{
    color:@link-color;
    text-decoration: underline
}
ul{
    margin:0;
    padding:0;
}
ul li {
    list-style: none;
    position: relative;
    padding-left: 22px;
    margin-bottom: 8px;
}
ul li:before{
content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: @main-blue;
    border-radius: 100%;
    left: 0px;
    transform: translateY(7px);
    position: absolute;
}
// main{
//     width:80%;
//     max-width:1290px;
//       margin-left: 20%;
// }

.tab-info.hide

{
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}


.tab-info {
    opacity: 1;
    visibility: visible;
    height: auto;

}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2000;
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 50px;
    -webkit-overflow-scrolling: touch;
}

.modal {
    width: 500px;
    height:500px;
    background-color:#fff;
    /* padding: 29px 80px 51px 62px; */
    position: absolute;
    margin-bottom: 200px;
    z-index: 3000;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    top:50%;
 
    left: 50%;
    -webkit-transform: translate(-50%,  -50%);
    -ms-transform: translate(-50%,  -50%);
    transform: translate(-50%,  -50%);
}

.slick-prev:before
{
    content: '';
}
.slick-next:before
{
    content: '';
}

.slick-prev,
.slick-next
{
    position: absolute;
    z-index:10;
    top: 50%;

    display: block;
    width: 20px;
    height: 20px;
    padding: 0;

    font-size: 0;
    line-height: 0;

    color: blue;
    border: none;
    border-bottom: 2px solid #acacac;
    border-left: 2px solid #acacac;
    border-radius: 1px;
    outline: none;
    background: transparent;

    cursor: pointer;
}
.slick-arrow:hover
{
    border-bottom: 2px solid @main-blue;
    border-left: 2px solid @main-blue;
}
.slick-prev
{
    left: 0;

    -webkit-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
}

.slick-next
{
    right: 0;

    -webkit-transform: translate(0, -50%) rotate(-135deg);
        -ms-transform: translate(0, -50%) rotate(-135deg);
            transform: translate(0, -50%) rotate(-135deg);
}
