body{
font-family: PF BeauSans Pro;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #000000;	
min-width: 375px;
}

.main-title{
font-family: PF BeauSans Pro;
font-style: normal;
font-weight: bold;
font-size: 36px;
text-transform:uppercase;
line-height: 43px;
text-align: center;
color: #000000;
margin:0;
padding:68px 0 48px 0;
}

.hidden{
	display: none!important;
}