.decisions__title{
	font-weight: 700;
	    font-size: 16px;

    line-height: 22px;
}
.decisions__slider {
	padding:10px 0;
	color:@black-font;
}
.decisions__slide{
	padding:40px 20px 17px 20px;
	background-color:#fff;
	box-shadow: 0px 4px 4px rgba(190, 210, 239, 0.25);
border-radius: 10px;
width: 225px;
box-sizing:border-box;
color:@black-font;
display: block;
cursor:pointer;
 &:hover{
 color:@black-font;
 text-decoration:none;
box-shadow: 0px 0px 7px 6px rgba(190,210,239,.25);
}
 }
}
.decisions_slide-logo img{
	margin:0 auto;
}
.decisions_slide-logo {
	margin-bottom: 40px;
}
.decisions__slider .slick-slide > div{
	margin: 10px 30px;
}