.faq
{
    overflow: hidden;
    padding-bottom: 85px;

    background-color: #deecf7;
}

.faq__wrapper
{
    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

.faq__wrapper-content
{
    display: flex;
    flex-direction: column;
    padding: 0 ;
     margin-bottom: 10px;
}

.faq__question
{
    position: relative;

    display: inline-block;
    /* identical to box height */
    margin: 0;
    // margin-bottom: 10px;
    padding: 26px 70px 26px 35px;

    font-family: PF BeauSans Pro;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;

    color: #000;
    background-color: #e8fcff;

    cursor: pointer;
    transition: .3s;
}
.faq__question:hover{
color:#fff;

background: linear-gradient(360deg, rgba(186, 149, 226, .4) -13.75%, rgba(255, 255, 255, 0) 145%), rgba(87, 162, 216, .4);
}
.faq__question:hover::after{
 border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;   
}
@media(max-width: 426px){

.faq__question{
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 120%;
padding: 22px 64px 22px 15px;
}

}
.faq__question::after
{
    position: absolute;
    top: 50%;
    margin-top:-12px;
    -webkit-transform:  rotate(-45deg);
        -ms-transform:  rotate(-45deg);
            transform:  rotate(-45deg);
    right: 40px;

    display: block;
    width: 15px;
    height: 15px;

    border-bottom: 4px solid #000;
    border-left: 4px solid #000;

    content: '';
    transition: .5s;

}
.faq__question.faq-rotate::after
{
   
    transform: rotate(135deg);
}
.faq__question:hover::after
{
    opacity: .8;
}
.faq__answer
{
    display: none;
    margin-top: 0px;
    padding: 26px 70px 26px 35px;

    font-family: PF BeauSans Pro;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;

    color: #000;
    background-color: #fff;
}

@media(max-width: 600px){
 .faq__answer
{
 padding: 26px 26px 26px 35px;
  
}
}
@media(max-width: 426px){

.faq__answer{
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 120%;
 margin-top: 0;
 padding: 22px 22px 22px 15px;
 border-radius:2px
}
}
.faq-block
{
    display: block;
}
