@font-face {
	font-family: 'neuropolmedium';
	src: url('../fonts/neuropol_medium-webfont.woff2') format('woff2'),
	url('../fonts/neuropol_medium-webfont.woff') format('woff'),
	url('../fonts/neuropol_medium-webfont.ttf') format('truetype'),
	url('../fonts/neuropol_medium-webfont.svg#neuropolmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PF BeauSans Pro';
	src:
	url('../fonts/PFBeauSansPro-Bbook.eot') format('opentype'),
	url('../fonts/PFBeauSansPro-Bbook.woff') format('woff'),
	url('../fonts/PFBeauSansPro-Bbook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
