.headliners{
 
background: linear-gradient(360deg, #BA95E2 -13.75%, rgba(255, 255, 255, 0) 145%), #57A2D8;
mix-blend-mode: screen;
	


}
.headliners-gradient{
// background-color:rgba(255, 255, 255, .1);
background: rgba(255, 255, 255, .25);	
background-image:url(../img/back-2.svg);
	padding-bottom:50px;	

}
@media only screen and(max-width: 426px){
  .headliners-gradient{
  padding-bottom:0
}
}
.headliners__list{
	text-align: center;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;

}
@media only screen and(max-width: 1515px){
.headliners__list{
	justify-content: space-around

}	
}
.headliners__list-item{
  
	width:26%;
    vertical-align: top;
   }

@media only screen and(max-width:630px){
.headliners__list-item{
  width:45%;

} 
}
@media only screen and(max-width:460px){
.headliners__list-item{
  width:79%;

} 
}
.headliners__link {
    display: block;
    margin: 0 0 30px;
    text-decoration: none;
  
}
.headliners__link .img-holder {
    display: block;
    overflow: hidden;
    position:relative;
  }
.headliners__link .img-holder::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.headliners__link:hover .img-holder::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

  .headliners__title{
  	max-width:100%;
  	display: block;
font-family: PF BeauSans Pro;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 30px;
text-align: center;
background-color:#E8FCFF;
color: #000000;
padding:20px 0;
box-sizing:border-box;
transition:0.75s;
text-transform:uppercase;
  }
  .headliners__link:hover .headliners__title,
  .headliners__link:focus .headliners__title,
  .headliners__link:active .headliners__title{
color:#fff;
 background: linear-gradient(180deg, #BA95E2 -13.75%, rgba(255, 255, 255, 0) 145%), #57A2D8;
  }



@media only screen and(max-width: 1225px){
  .headliners__title{
 
font-size: 26px;
line-height: 28px;
padding:15px 0;

  }   
   }
@media only screen and(max-width: 1050px){
  .headliners__title{
 
font-size: 18px;
line-height: 22px;
padding:15px 0;

  } 	
   }
   .headliners__fake-block{
    opacity: 0;
   }
@media only screen and(max-width: 782px){
    .headliners__fake-block{
    display: none;
   }
   }