.main-block{
width:100%;
height:auto;
background-color:#deecf7;

}
.main-block__wrapper{
	text-align:center;
	position:relative;
}
.main-block__img-mobile, 
.main-block__logo,
.main-block__btn{
	display:none; 
}

@media(max-width: 426px){
	.main-block__img-desktop{
		display:none;
	}
	.main-block__img-mobile,
	.main-block__logo{
		display:block;
	}
	.main-block__logo{
		width:93%;
		height:auto;
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-72%);
	}
	.main-block__btn{
	display:inline-block;
	position:absolute;
	white-space:nowrap;	
		left:50%;
		transform: translateX(-50%);
		bottom:60px;
}
	.main-block__btn.buy-btn{
		padding:11px 60px;

}

}

.logo-slider__wrapper{
	position:absolute;
	top:100px;
	width:80%;
	
	text-align:center;
	    left:50%;
    transform:translateX(-50%);
   
	display: none;
}

.logo-slider__wrapper img{
top:50%;
   left:50%;
    transform:translate(-50%,-50%);
vertical-align:middle;

}
@media(max-width: 426px){
.logo-slider__wrapper{
	

	display: flex;
}	
}
