.ymaps-2-1-76-map ymaps{
	border-radius:10px
}
#map .ymaps-2-1-76-balloon__tail{
	left:50%;
	margin-left:-10px;

    transform: rotate(-45deg) ;
    -webkit-transform-origin: top left;
    transform-origin: top left;
}
#map .ymaps-2-1-76-balloon__close + .ymaps-2-1-76-balloon__content {
margin-right:0;
    padding: 27px;
    text-align:center;
}