.site-nav{
	@media(min-width: 1025px){
	order:-1;
	display: flex;
	align-items:center;

}
}
.site-nav__list{
	padding:0;
	list-style: none;
	border-top:1px solid @main-blue;
	margin:10px 0;
	@media(min-width: 1025px){
		border:none;
		display: flex;
	flex-wrap:wrap;
	width:100%;
	justify-content: flex-end;
	}
}


.with-submenu{
	position:relative;
	&:after{
		content:'';
		display: inline-block;
position:absolute;
width:50px;
height:57px;
background:url(../img/arrow.svg) no-repeat  right 10px center ;
background-size: 16px 19px;
right:0;
top:0;
	@media(min-width: 1025px){
		content:none;
	}

	}
			@media(min-width: 1200px){
		position:static;
	}
}

.with-submenu.open{
	&:after{
		transform: rotate(180deg);
		background:url(../img/arrow.svg) no-repeat  left 10px center ;
		background-size: 16px 19px;
	}
}
// .with-submenu a:hover ~  .site-nav__submenu{
// 	@media(min-width: 1200px){
// 		display:block;

// 	}
// }
.site-nav__list-item a{
	display:block;
	font-size: 15px;
line-height: 18px;
color:#000;
text-decoration: none;
text-transform: uppercase;
border-bottom:1px solid @main-blue;

padding: 20px 50px 20px 25px;
&:hover,
&:active,
&:focus{
	color:@main-blue;

}
		@media(min-width: 1025px){
		border:none;
		padding:0;
			font-size: 12px;
line-height: 14px;
	}
		@media(min-width: 1200px){
	font-size: 15px;
line-height: 18px;
		padding:0;
	}
}
.site-nav__list-item{
	@media(min-width: 1025px){
		
		padding:5px 10px;

	}
		@media(min-width: 1200px){

		padding:5px 17px;
	}	
}
.site-nav__submenu{
	display: none;
	padding-left:0px;
	border-bottom:1px solid @main-blue;
		@media(min-width: 1025px){
		border:none;
	}
			@media(min-width: 1200px){
				display: block;
		position:absolute;
		z-index: 3;
		top:84px;
		left:0;
		right:0;
		background-color:#fff;
		border-top: 1px solid #D6D6D6;
		min-height:235px;
		padding:37px 79px;
		box-sizing:border-box;
		 box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.16);;
		
		
}
}
.site-nav__submenu .site-nav__submenu-list{ 
	padding:0;
	@media(min-width: 1200px){
	
		width:50%;
		border-right:1px solid #D6D6D6;
		display: flex;
		flex-wrap:wrap;
		flex-direction:row;
		
	}
}
.site-nav__submenu-block{
display: none;
	@media(min-width: 1200px){
		display:block;
		width:50%;
		
	}
}
.site-nav__submenu-item{
padding:0;
list-style: none;
	@media(min-width: 1200px){
	
		width:50%;
		
	}
}
.site-nav__submenu-item a{
padding: 10px 0 10px 40px ;
border:none;
text-transform:none;
	@media(min-width: 1200px){
		padding:0 0 24px;
		font-size: 15px;
line-height: 18px;
		
	}
}
.site-nav__submenu.open{
	display: block;


}
.site-nav__list-item.active > a, 
.site-nav__submenu-item.active a{
	color:@main-blue;
}