.usluga{
	padding-top:35px;
	padding-bottom:55px;
}

.usluga-content{
	padding-top:20px;
	display:flex;
	justify-content: space-around;

}
.usluga-content__block{
	width:54%;
	display: flex;
	flex-wrap: wrap;
	align-items:center
}

.usluga-content__title{
font-weight: bold;
font-size: 32px;
line-height: 37px;
color: #000000;
margin: 0 0 25px;
width:100%;
}
.usluga-content__block p{
	font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #000000;
padding:0;
margin: 0 0 45px;
}
.usluga-content__price{
font-weight: bold;
font-size: 32px;
line-height: 37px;
color: #000000;

}
.usluga-content__btns{
	margin-left: auto
}
.usluga-content__btns a{
	display: inline-block;
	width:200px;
	box-sizing:border-box;
	text-align: center;
	text-transform:uppercase;
padding:23px 10px;
border-radius: 100px;
box-shadow: 0px 36px 32px rgba(195, 198, 200, 0.3);
font-weight: 500;
font-size: 15px;
line-height: 18px;
} 
.usluga-content__btns .btn-buy{
	color: #FFFFFF;
	background:@main-blue;
	margin-right:25px
}
.usluga-content__btns .btn-arend{
	border: 1px solid #4094C9;
box-sizing: border-box;

	color: #595959;
}